# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
.idea/modules.xml
.idea/*.iml
.idea/workspace.xml
.idea/libraries

# Node.js
node_modules/
npm-debug.log

# Logs
logs
*.log

# Temporary files
tmp/
temp/
